@import '../../Settings.scss';

.bm-menu-wrap {
  position: fixed;
  height: 100vh !important;
  width: 100% !important;
}

/* General sidebar styles */
.bm-menu {
  background: $light-text-color;
  padding: 1.5rem 0.75rem 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: $dark-text-color;
  padding: 1rem;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-menu-item {
  margin-bottom: 3rem !important;
}
