@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// variables

/* COLORS */
$dark-text-color: #222831;
$light-text-color: #eeeeee;

$cold-color: #32e0c4;
$warm-color: #f9b208;
$chilly-color: #1597e5;
$rain-color: #1c0c5b;

/* TYPO */

$font: 'Roboto', sans-serif;
$font-bold: 700;
$font-normal: 400;
$font-light: 300;
